<style type="text/css">
    .container {
        margin-top:10%;
    }
    .container, .input-form {
        text-align: center;
    }
    #txtName {
        display:inline;
        font-size:26px;
        padding:10px;
        text-align: center;
    }
    #btnSend {
        margin-top:15px;
        width: 100px;
        height: 50px;
        font-size:20px;
    }
</style>

<form method="post" action="/chat/setname">
<div class="container">
    <div>
        <div class="input-form">
            <div>在开始之前，先给自己取一个响铛铛的名字吧！</div>
            <input class="form-control" id="txtName" placeholder="您的名字">
        </div>
        <div style="text-align: center"><button class="btn btn-primary" type="submit" id="btnSend">提 交</button></div>
    </div>
</div>
</form>
